/* "*" para cambiar el tipo de fuente del documento */
* {
    font-family: 'Roboto', sans-serif;
}

/* "body" para ajustar los márgenes y el relleno del cuerpo del documento siguiendo indicaciones del paso 2 */

body {
    margin: 0;
    padding: 0 20%;
}

/* "h1" en subrayado con color cyan, centrado */

h1 {
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

/* elementos con clase "selector" de color lightcyan */

.selector {
    color: lightcyan;
}

/* elementos con clase selectors relleno del 5%, un border y esquinas redondeadas */

.selectors {
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

/* elemento con id "universal" de color lightgoldenrodyellow */

#universal {
    color: lightgoldenrodyellow;
}

/* "h2" con clase "selector" y con id "universal" de fondo darkcyan, relleno del 1% y esquinas redondeadas */

h2.selector, h2#universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}
    
/* "span" con fondo negro y color de texto blanco */

span {
    font-weight: 900;
    background-color: black;
    color: white;
}

/* elementos hijos directos de li tendrán endrán text-decoration: none */

li > a {
    text-decoration: none;
}

/* elementos h3 color de fondo rgba 0 139 139*/

h3 {
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5px;
    border-radius: 5px;
}

/* elementos div descendientes de un elementos con id gallery acho de width 100%*/

#gallery div {
    width: 100%;
}

/* elementos img tendrán un ancho width de 100%, un border solid y esquinas redondeadas con valor de 5px */

img {
    width: 100%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

.tabla-final {
    width: 100%;
    border-collapse: collapse; /* quita los espacios dobles */
    margin-top: 10px;
    margin-bottom: 50px;
    border: 1px solid #ddd; /* borde gris suave */
}

.tabla-final th {
    background-color: darkcyan; /* usamos el color del tema */
    color: white;
    padding: 12px;
    text-align: left; /* titulos alineados a la izquierda queda mas pro */
}

.tabla-final td {
    padding: 10px;
    border: 1px solid #ddd; /* bordes finos grises */
    text-align: left;
}

/* Esto hace el efecto "cebra" */
.tabla-final tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* un pequeño efecto al pasar el raton para molar mas */
.tabla-final tr:hover {
    background-color: #ddd;
}