/* "*" para cambiar el tipo de fuente del documento */
* {
    font-family: 'Roboto', sans-serif;
}

/* "body" para ajustar los m치rgenes y el relleno del cuerpo del documento siguiendo indicaciones del paso 2 */

body {
    margin: 0;
    padding: 0 20%;
}

/* "h1" en subrayado con color cyan, centrado */

h1 {
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

/* elementos con clase "selector" de color lightcyan */

.selector {
    color: lightcyan;
}

/* elementos con clase selectors relleno del 5%, un border y esquinas redondeadas */

.selectors {
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

/* elemento con id "universal" de color lightgoldenrodyellow */

#universal {
    color: lightgoldenrodyellow;
}

/* "h2" con clase "selector" y con id "universal" de fondo darkcyan, relleno del 1% y esquinas redondeadas */

h2.selector, h2#universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}
    
/* "span" con fondo negro y color de texto blanco */

span {
    font-weight: 900;
    background-color: black;
    color: white;
}

/* elementos hijos directos de li tendr치n endr치n text-decoration: none */

li > a {
    text-decoration: none;
}

/* elementos h3 color de fondo rgba 0 139 139*/

h3 {
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5px;
    border-radius: 5px;
}

/* elementos div descendientes de un elementos con id gallery acho de width 100%*/

#gallery div {
    width: 100%;
}

/* elementos img tendr치n un ancho width de 100%, un border solid y esquinas redondeadas con valor de 5px */

img {
    width: 100%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}